.stars {
    display: flex;
    gap: 5px;
    cursor: pointer;

    span {
        font-size: 20px;
        color: gray; // Цвет неактивных звёзд
        transition: color 0.3s ease;
    }

    .activeStar {
        color: gold; // Цвет активных звёзд
    }

    .inactiveStar {
        color: gray; // Цвет неактивных звёзд
    }
}